@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILO GERAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.alinhamento-texto {
    text-align: justify;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: black;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #0097B2;
}

section.topo-do-site {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.btn-1 {
    border-radius: 20px;
    background: #395a7a;
    color: #fff;
}

.btn-1:hover {
    background: #2c3e50;
}

.btn-1:active {
    background: #2c3e50;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btn-2 {
    border-radius: 20px;
    background: #0098B3;
    color: #fff;
}

.btn-2 a {
    color: #fff;
}

.btn-2:hover {
    background: rgb(44, 62, 80);
}

.btn-2:active {
    background: #0098b3;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}



/* ESTILO DO CABECALHO*/

header {
    padding: 1vh 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
}

header nav.menu-desktop a:hover {
    color: black;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline;
    padding: 0 40px;
}

header .logo img {
    width: 2.5vh;
    padding-top: 1vh;
    margin-left: 10px;
}

/*SEARCH-BAR*/
.search-container {
    gap: 1.5vh;
    padding: .6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3vh;
    width: 20vh;
}

/* ESTILO MENU MOBILE */
.btn-abrir-menu i {
    color: #0097B2;
    font-size: 40px;
}

.menu-mobile {
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 70%;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #0097B2;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #0097B2;
    color: white;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

div.pesquisa {
    padding: 1rem 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.pesquisa input {
    width: 100%;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    width: 380px;
    padding: 40px 4%;
    margin-bottom: 90px;
    background-color: #e4e3e3;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section.topo-do-site .txt-topo-site h1 {
    color: black;
    font-size: 42px;
    line-height: 40px;
}

section.topo-do-site .txt-topo-site h1 span {
    color: #38358f;
}

section.topo-do-site  .flex p {
    color: black;
    text-align: justify;
    font-size: 1.5vh;
    font-weight: 600;
}

section.topo-do-site .txt-topo-site a {
    text-decoration: none;
    color: #38358f;
}

section.topo-do-site .txt-topo-site a:hover {
    text-decoration: underline;
}

section.topo-do-site .img-topo-site img {
    border-radius: 20px;
    position: relative;
    width: 200px;
    height: 150px;
}

section.topo-do-site .compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.topo-do-site .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.topo-do-site .botoes button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
    margin-top: 1.5rem;
}

section.topo-do-site .botoes {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

/* ESTILOS FOOTER */

footer {
    padding: 10px 4%;

}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #0097B2;
}

footer .line-footer p i {
    color: #0097B2;
    font-size: 22px;
}

footer .line-footer p a {
    color: black;
    text-decoration: none;
}

footer .line-footer p a:hover {
    text-decoration: underline;
}

footer .logo-footer img {
    width: 4vh;
}

@media screen and (max-width: 1114px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* MENU CABECALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        margin: 0px 3%;
        padding: 3vh 8%;
        margin-bottom: 30px;
    }

    section.topo-do-site .txt-topo-site h1 {
        font-size: 30px;
    }

    section.topo-do-site .img-topo-site img {
        width: 100%;
    }

    section.topo-do-site .flex {
        margin-bottom: 1rem;
        gap: 10px;
    }

    /* FOOTER */
    footer .flex {
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}

@media screen and (min-width: 1114px) {
    .btn-abrir-menu  {
       visibility: hidden;
    }
}